@import "ui-variables";

@color_text_grey: #615f63;
@color_accent: #f8c61c;

@border_dark: 1px solid #374252;
@border_light: 1px solid #2b253a;

@space-tiny: 5px;
@space-small: 10px;
@space-medium: 20px;
@space-large: 30px;
@space-huge: 40px;
@space-massive: 80px;

@font-size: 15px;
@font-size-small: 14px;
@font-size-tiny: 13px;

.tool-panel {
    overflow: auto;
}

.alternatives {
    @alternatives-text-color: @text-color-highlight;
    @alternatives-border-color: @button-background-color-hover;

    color: @alternatives-text-color;
    min-width: 300px;
    max-width: 600px;

    .alternatives-logo {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;

        img {
            width: 120px;
        }
    }

    .alternatives-status {
        font-family: system-ui;
        font-size: @font-size-tiny;
        margin-top: @space-small;
        text-align: center;
    }

    .alternatives-controls {
        margin: 0 auto;
        margin-top: @space-small;
        text-align: center;
    }

    .alternatives-list {
        margin-top: @space-small;
    }

    .alternative-row {
        border-bottom: solid 1px @alternatives-border-color;
        display: block;
        font-size: @font-size;
        padding: @space-small;

        &:first-child {
            border-top: solid 1px @alternatives-border-color;
        }

        &:last-child {
            border: none;
        }

        &:hover {
            background: fadeout(@background-color-success, 80%);
            text-decoration: none;
        }

        &.invalid {
            color: @text-color-error;

            .alternative-number {
                border-color: @text-color-error;
            }
        }

        &.highlighted {
            background: fadeout(@background-color-success, 60%);
        }

        .alternative-number, .alternative-description {
            display: inline-block;
            font-family: system-ui;
        }

        .alternative-number {
            @size: 28px;

            border: solid 2px @alternatives-text-color;
            border-radius: 50%;
            font-weight: 600;
            height: @size;
            line-height: 13px;
            margin-right: @space-tiny;
            padding: @space-tiny;
            position: relative;
            text-align: center;
            width: @size;
        }

        .alternative-code {
            display: block;
            margin-top: @space-small;

            pre {
                font-size: @font-size-small;
            }
        }
    }
}
