.serenade-message {
  padding: 20px;
  width: 300px;
}

.serenade-message h1 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.serenade-message .serenade-download {
  background: #e7b143;
  border: none;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  transition: background 0.2s ease-in-out;
  white-space: normal;
}

.serenade-message .serenade-download:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #edc470;
}

.serenade-message p {
  font-size: 1.3rem;
  line-height: 1.3;
}

.serenade-message .serenade-message-close {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 1.5rem;
}

.serenade-message .serenade-message-close:hover {
  text-decoration: none;
}

.success-color-1 {
  background: rgba(43, 161, 67, 0.1);
}

.success-color-2 {
  background: rgba(43, 161, 67, 0.2);
}

.success-color-3 {
  background: rgba(43, 161, 67, 0.3);
}

.success-color-4 {
  background: rgba(43, 161, 67, 0.4);
}

.success-color-5 {
  background: rgba(43, 161, 67, 0.5);
}

.success-color-6 {
  background: rgba(43, 161, 67, 0.6);
}

.error-color-1 {
  background: rgba(255, 99, 71, 0.1);
}

.error-color-2 {
  background: rgba(255, 99, 71, 0.2);
}

.error-color-3 {
  background: rgba(255, 99, 71, 0.3);
}

.error-color-4 {
  background: rgba(255, 99, 71, 0.4);
}

.error-color-5 {
  background: rgba(255, 99, 71, 0.5);
}

.error-color-6 {
  background: rgba(255, 99, 71, 0.6);
}
