.serenade-message {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    position: relative;
}

.serenade-message .serenade-message-content .btn {
    margin-left: 10px;
}

.serenade-message .serenade-message-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.serenade-message .serenade-message-close:hover {
    text-decoration: none;
}
