@import "ui-variables";

@space-tiny: 5px;
@space-small: 10px;
@space-medium: 15px;
@space-large: 20px;
@space-huge: 40px;
@space-massive: 80px;

@font-size: 15px;
@font-size-small: 14px;
@font-size-tiny: 13px;

.tool-panel {
    overflow: auto;
}

.hidden {
    display: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.btn:focus {
    border-color: @button-border-color !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.alternatives {
    @alternatives-text-color: @text-color-highlight;
    @alternatives-border-color: @button-background-color-hover;

    color: @alternatives-text-color;
    min-width: 300px;
    max-width: 500px;

    .btn-alternatives {
        background: @button-background-color;
        border: 1px solid @button-border-color;
        padding: @space-tiny;

        &:hover {
            background: @button-background-color-hover;
        }

        &:active {
            background: @button-background-color-selected;
        }
    }

    .alternatives-logo-container {
        width: 100%;
        display: flex;
        padding: @space-medium;

        .alternatives-logo {
            flex-grow: 2;

            img {
                width: 120px;
            }
        }

        .alternatives-status {
            font-family: system-ui;
            font-size: @font-size-tiny;
            margin-top: @space-small;
        }
    }

    .alternatives-volume-container {
        align-items: center;
        display: flex;
        padding: 0 @space-medium;
        width: 100%;

        .btn-listen {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: block;
        }

        .btn-menu {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: block;
            font-size: 10px;
            margin-left: -3px;
            outline: 0;
            padding: 2px 8px;
            position: relative;

            i {
                transition: transform 0.2s;
            }

            i.active {
                transform: rotate(180deg) scaleX(-1);
            }

            .menu-dropdown {
                background: @button-background-color;
                border: 1px solid @button-border-color;
                border-top: none;
                height: 0;
                left: -1px;
                margin-top: 2px;
                opacity: 0;
                position: absolute;
                transition: opacity 0.2s;

                outline: 0;
                -webkit-appearance: none;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;

                &:active, &:hover, &:focus, &:visited {
                    outline: 0;
                    -webkit-appearance: none;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                }

                &.active {
                    height: auto;
                    opacity: 1;
                }

                a {
                    display: block;
                    border-bottom: 1px solid @alternatives-border-color;
                    padding: @space-small;
                    font-size: @font-size-tiny;
                    text-align: left;

                    &:hover, &:focus {
                        background: @button-background-color-hover;
                    }
                }
            }
        }

        .alternatives-bar-container {
            flex-grow: 2;
            border: 1px solid @alternatives-border-color;
            border-top: none;
            margin-left: @space-small;
            height: 6px;

            .alternatives-bar {
                height: 100%;
                background: fadeout(@background-color-success, 50%);
                transition: width 0.2s;
            }
        }
    }

    .alternatives-token-container {
        display: flex;
        padding: @space-medium;
        padding-top: 0;

        .input-token {
            flex-grow: 2;
            border: 1px solid @button-border-color;
            background: @input-background-color;
        }
    }

    .alternatives-header {
        font-size: @font-size-small;
        margin-left: @space-small;
        margin-top: @space-large;
    }

    .alternatives-list {
        margin-top: @space-small;
    }

    .alternative-row {
        border-bottom: solid 1px @alternatives-border-color;
        display: block;
        font-size: @font-size;
        padding: @space-small;

        &:first-child {
            border-top: solid 1px @alternatives-border-color;
        }

        &:last-child {
            border: none;
        }

        &:hover {
            background: fadeout(@background-color-success, 80%);
            text-decoration: none;
        }

        &.invalid {
            color: @text-color-error;

            .alternative-number {
                border-color: @text-color-error;
            }
        }

        &.highlighted {
            background: fadeout(@background-color-success, 60%);
        }

        &.suggestion {
            color: fadeout(@alternatives-text-color, 50%);
        }

        &.suggestion:hover {
            background: inherit;
        }

        pre.inline {
            display: inline;
        }

        .alternative-number, .alternative-description {
            display: inline-block;
            font-family: system-ui;
        }

        .alternative-number {
            @size: 28px;

            border: solid 2px @alternatives-text-color;
            border-radius: 50%;
            font-weight: 600;
            line-height: 13px;
            margin-right: @space-tiny;
            min-height: @size;
            min-width: @size;
            padding: @space-tiny;
            position: relative;
            text-align: center;
        }

        .alternative-code {
            display: block;
            margin-top: @space-small;

            pre {
                font-size: @font-size-small;
            }
        }
    }
}

.help {
    width: 500px;
    overflow: auto;

    iframe {
        border: none;
        height: 100%;
        width: 100%;
    }
}
